@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?swz07g');
  src:  url('../fonts/icons.eot?swz07g#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?swz07g') format('truetype'),
    url('../fonts/icons.woff?swz07g') format('woff'),
    url('../fonts/icons.svg?swz07g#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-instagram:before {
  content: "\f16d";
}

*{margin: 0;padding: 0;line-height: 100%;text-decoration: none;}
body{background: #ececec;font-family: sans-serif;}
.main{width: 500px;position: absolute;right: 0;left: 0;margin: 0 auto;top: 50%;text-align: center;transform: translateY(-50%);}
.main h1{font-weight: 100;}
.main .col-wrapper{margin-top: 50px;}
.main .col{float: right;width: 50%;text-align: center;}
.main .col a{display: block;}
.main .col span{font-size: 80px;}
.main .col.twitter span{color: #1da1f2;}
.main .col.instagram span{color: #262626;}
.main .col h3{font-weight: 100;transition: 0.3s;margin: 10px 0 0;top: 0;position: relative;color: #222;}
.main .col:hover h3{color: #ff6161;top: 5px;}

.clear:before, .clear:after{content: '';display: block;clear: both;}